body {
  background-color: lightblue;
  background-image: url(https://images.unsplash.com/photo-1505744386214-51dba16a26fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1167&q=80);
  background-size: cover;
}

.title {
  text-align: center;
}

.headerContainer {
  padding-left: 350px;
  padding-bottom: 150px;
}

.headerInput {
  width: 50%;
  height: 50px;
  border-radius: 5px;
  padding-left: 15px;
}

.headerSubmit {
  height: 55px;
  width: 10%;
  border-radius: 5px;
}

.weatherDisplay {
  text-align: center;
  padding-top: 10px;
}
